In [55]:
import pandas as pd

In [56]:
hdDf = pd.read_csv('usholidays.csv')

In [57]:
hdDf['Date'] = pd.to_datetime(hdDf['Date'])

In [58]:
hdDf['week'] = hdDf['Date'].dt.week

In [59]:
hdDf['month'] = hdDf['Date'].dt.month

In [60]:
hdDf['year'] = hdDf['Date'].dt.year

In [61]:
hdDf['day'] = hdDf['Date'].dt.weekday

In [63]:
holidays = ["New Year's Day", "Christmas Day", "Thanksgiving Day"]

In [64]:
hdDf = hdDf[hdDf['Holiday'].isin(holidays)]

In [66]:
hdDf[hdDf['year'].isin([2015,2016,2017,2018,2019])]

    Unnamed: 0       Date           Holiday  week  month  year  day
40          40 2015-01-01    New Year's Day     1      1  2015    3
48          48 2015-11-26  Thanksgiving Day    48     11  2015    3
49          49 2015-12-25     Christmas Day    52     12  2015    4
50          50 2016-01-01    New Year's Day    53      1  2016    4
58          58 2016-11-24  Thanksgiving Day    47     11  2016    3
59          59 2016-12-26     Christmas Day    52     12  2016    0
60          60 2017-01-02    New Year's Day     1      1  2017    0
68          68 2017-11-23  Thanksgiving Day    47     11  2017    3
69          69 2017-12-25     Christmas Day    52     12  2017    0
70          70 2018-01-01    New Year's Day     1      1  2018    0
78          78 2018-11-22  Thanksgiving Day    47     11  2018    3
79          79 2018-12-25     Christmas Day    52     12  2018    1
80          80 2019-01-01    New Year's Day     1      1  2019    1
88          88 2019-11-28  Thanksgiving Day    48     11  2019    3
89          89 2019-12-25     Christmas Day    52     12  2019    2