In [2]:
import pandas as pd

In [3]:
hdDf = pd.read_csv('usholidays.csv')

In [4]:
hdDf['Date'] = pd.to_datetime(hdDf['Date'])

In [5]:
hdDf['week'] = hdDf['Date'].dt.week

In [6]:
hdDf['month'] = hdDf['Date'].dt.month

In [7]:
hdDf['year'] = hdDf['Date'].dt.year

In [8]:
hdDf['day'] = hdDf['Date'].dt.weekday

In [9]:
holidays = ["New Year's Day", "Christmas Day", "Thanksgiving Day"]

In [10]:
hdDf = hdDf[hdDf['Holiday'].isin(holidays)]

In [11]:
hdDf = hdDf[hdDf['year'].isin([2015,2016,2017,2018,2019])]

In [12]:
hdDf[hdDf['Holiday'] == "Thanksgiving Day"]

    Unnamed: 0       Date           Holiday  week  month  year  day
48          48 2015-11-26  Thanksgiving Day    48     11  2015    3
58          58 2016-11-24  Thanksgiving Day    47     11  2016    3
68          68 2017-11-23  Thanksgiving Day    47     11  2017    3
78          78 2018-11-22  Thanksgiving Day    47     11  2018    3
88          88 2019-11-28  Thanksgiving Day    48     11  2019    3

In [13]:
df =pd.read_csv("../Data_And_Data_Creation/expanded_dummied_welcome_table_summed.csv")

In [14]:
diff = pd.Timedelta('4 days')

In [15]:
diff2 = pd.Timedelta('5 days')

In [16]:
sun = hdDf[hdDf['Holiday'] == "Thanksgiving Day"]['Date'] - diff

In [17]:
sat = hdDf[hdDf['Holiday'] == "Thanksgiving Day"]['Date'] - diff2

In [18]:
thanks_lis = []
for val in sun:
    thanks_lis.append(val)
for val in sat:
    thanks_lis.append(val)

In [19]:
thanks_lis

[Timestamp('2015-11-22 00:00:00'),
 Timestamp('2016-11-20 00:00:00'),
 Timestamp('2017-11-19 00:00:00'),
 Timestamp('2018-11-18 00:00:00'),
 Timestamp('2019-11-24 00:00:00'),
 Timestamp('2015-11-21 00:00:00'),
 Timestamp('2016-11-19 00:00:00'),
 Timestamp('2017-11-18 00:00:00'),
 Timestamp('2018-11-17 00:00:00'),
 Timestamp('2019-11-23 00:00:00')]

In [20]:
df['Date'] =  pd.to_datetime(df['Unnamed: 0.1'])

In [21]:
thanksgiving = df[df['Date'].isin(thanks_lis)][['Date','total_visitors']]

In [22]:
thanksgiving

          Date  total_visitors
36  2015-11-21              83
37  2015-11-22              56
227 2016-11-19             128
228 2016-11-20              11
417 2017-11-18              57
418 2017-11-19              91
612 2018-11-17              61
613 2018-11-18              54

In [23]:
thanksgiving = thanksgiving.append({'Date': "Weekend Before Thanksgiving Average", "total_visitors":thanksgiving['total_visitors'].mean()}, ignore_index=True)

In [24]:
thanksgiving

                                  Date  total_visitors
0                  2015-11-21 00:00:00          83.000
1                  2015-11-22 00:00:00          56.000
2                  2016-11-19 00:00:00         128.000
3                  2016-11-20 00:00:00          11.000
4                  2017-11-18 00:00:00          57.000
5                  2017-11-19 00:00:00          91.000
6                  2018-11-17 00:00:00          61.000
7                  2018-11-18 00:00:00          54.000
8  Weekend Before Thanksgiving Average          67.625

In [25]:
christmas = hdDf[hdDf['Holiday'] == "Christmas Day"]

In [26]:
christmas['eve'] = christmas['Date'] -  pd.Timedelta('1 days')

C:\Users\Ed Center\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
christmas

    Unnamed: 0       Date        Holiday  week  month  year  day        eve
49          49 2015-12-25  Christmas Day    52     12  2015    4 2015-12-24
59          59 2016-12-26  Christmas Day    52     12  2016    0 2016-12-25
69          69 2017-12-25  Christmas Day    52     12  2017    0 2017-12-24
79          79 2018-12-25  Christmas Day    52     12  2018    1 2018-12-24
89          89 2019-12-25  Christmas Day    52     12  2019    2 2019-12-24

In [28]:
christmas['eve'].values

array(['2015-12-24T00:00:00.000000000', '2016-12-25T00:00:00.000000000',
       '2017-12-24T00:00:00.000000000', '2018-12-24T00:00:00.000000000',
       '2019-12-24T00:00:00.000000000'], dtype='datetime64[ns]')

In [29]:
chris_list = []

for i in range(1,8):
    cat = christmas['eve'].values - pd.Timedelta(str(i)+ ' days')
    for val in cat:
        chris_list.append(val)

In [30]:
christmas = df[df['Date'].isin(chris_list)][['Date','total_visitors']]

In [31]:
christmas['Day'] =  christmas['Date'].dt.weekday

In [32]:

christmas = christmas.append({'Date': "Average For Week Before Christmas Eve", "total_visitors":christmas['total_visitors'].mean(), 'Day': 'null'}, ignore_index=True)

In [33]:
christmas = christmas.append({'Date': "Average For Weekend Before Christmas Eve", "total_visitors":christmas[christmas['Day'] > 4]['total_visitors'].mean(), 'Day': 'null'}, ignore_index=True)

In [34]:
christmas.replace([3, 5, 6, 1], ['Thursday', 'Saturday', 'Sunday', 'Tuesday'])

                                        Date  total_visitors       Day
0                        2015-12-17 00:00:00       14.000000  Thursday
1                        2015-12-19 00:00:00       29.000000  Saturday
2                        2015-12-20 00:00:00       79.000000    Sunday
3                        2016-12-18 00:00:00       51.000000    Sunday
4                        2016-12-20 00:00:00       13.000000   Tuesday
5                        2016-12-22 00:00:00       39.000000  Thursday
6                        2017-12-17 00:00:00       29.000000    Sunday
7                        2017-12-19 00:00:00       21.000000   Tuesday
8                        2017-12-21 00:00:00       10.000000  Thursday
9                        2018-12-18 00:00:00       12.000000   Tuesday
10                       2018-12-20 00:00:00       17.000000  Thursday
11     Average For Week Before Christmas Eve       28.545455      null
12  Average For Weekend Before Christmas Eve       43.309091      null

In [35]:
newYear = hdDf[hdDf['Holiday'] == "New Year's Day"]

In [36]:
ny_ls = []
for val in newYear['Date']:
    for i in range(1, 8):
        ny_ls.append(val + pd.Timedelta(str(i) + " days"))

In [37]:
new_years = df[df['Date'].isin(ny_ls)][['Date', 'total_visitors', 'day']]

In [38]:
new_years = new_years.append({"Date": "Week After New Years Average:", "total_visitors": new_years['total_visitors'].mean(), 'day':'null'}, ignore_index = True)

In [39]:
new_years= new_years.append({"Date": "Weekend After New Years Average:", "total_visitors": new_years[new_years['day'] > 4]['total_visitors'].mean(), 'day':'null'}, ignore_index = True)

In [40]:
new_years =new_years.replace({1: "Tuesday", 3:"Thursday", 5:"Saturday", 6:"Sunday"})

In [41]:
new_years

                                Date  total_visitors       day
0                2016-01-07 00:00:00       20.000000  Thursday
1                2017-01-03 00:00:00       11.000000   Tuesday
2                2017-01-05 00:00:00       15.000000  Thursday
3                2017-01-07 00:00:00       15.000000  Saturday
4                2017-01-08 00:00:00       11.000000    Sunday
5                2018-01-02 00:00:00       20.000000   Tuesday
6                2018-01-06 00:00:00       14.000000  Saturday
7                2018-01-07 00:00:00       13.000000    Sunday
8                2019-01-03 00:00:00       31.000000  Thursday
9                2019-01-05 00:00:00       22.000000  Saturday
10               2019-01-06 00:00:00       92.000000    Sunday
11               2019-01-08 00:00:00       40.000000   Tuesday
12     Week After New Years Average:       25.333333      null
13  Weekend After New Years Average:       27.476190      null

In [45]:
df[['month', 'total_visitors']].groupby("month").mean()

       total_visitors
month
1           40.725806
2           49.500000
3           53.657143
4           63.852941
5           46.661972
6           64.042553
7           61.333333
8           64.677966
9           58.900000
10          52.063492
11          50.907407
12          32.956522

In [46]:
df[df['day']>4][['month', 'total_visitors']].groupby("month").mean()

       total_visitors
month
1           57.100000
2           68.218750
3           77.200000
4           89.685714
5           70.787879
6           90.920000
7           85.222222
8           88.428571
9           79.812500
10          71.705882
11          76.037037
12          44.291667