In [117]:
import pandas as pd

In [118]:
hdDf = pd.read_csv('usholidays.csv')

In [119]:
hdDf['Date'] = pd.to_datetime(hdDf['Date'])

In [120]:
hdDf['week'] = hdDf['Date'].dt.week

In [121]:
hdDf['month'] = hdDf['Date'].dt.month

In [122]:
hdDf['year'] = hdDf['Date'].dt.year

In [123]:
hdDf['day'] = hdDf['Date'].dt.weekday

In [124]:
holidays = ["New Year's Day", "Christmas Day", "Thanksgiving Day"]

In [125]:
hdDf = hdDf[hdDf['Holiday'].isin(holidays)]

In [126]:
hdDf = hdDf[hdDf['year'].isin([2015,2016,2017,2018,2019])]

In [127]:
hdDf[hdDf['Holiday'] == "Thanksgiving Day"]

    Unnamed: 0       Date           Holiday  week  month  year  day
48          48 2015-11-26  Thanksgiving Day    48     11  2015    3
58          58 2016-11-24  Thanksgiving Day    47     11  2016    3
68          68 2017-11-23  Thanksgiving Day    47     11  2017    3
78          78 2018-11-22  Thanksgiving Day    47     11  2018    3
88          88 2019-11-28  Thanksgiving Day    48     11  2019    3

In [128]:
df =pd.read_csv("../Data_And_Data_Creation/expanded_dummied_welcome_table_summed.csv")

In [129]:
diff = pd.Timedelta('2 days')

In [130]:
diff2 = pd.Timedelta('3 days')

In [131]:
sun = hdDf[hdDf['Holiday'] == "Thanksgiving Day"]['Date'] + diff

In [132]:
sat = hdDf[hdDf['Holiday'] == "Thanksgiving Day"]['Date'] + diff2

In [133]:
thanks_lis = []
for val in sun:
    thanks_lis.append(val)
for val in sat:
    thanks_lis.append(val)

In [134]:
thanks_lis

[Timestamp('2015-11-28 00:00:00'),
 Timestamp('2016-11-26 00:00:00'),
 Timestamp('2017-11-25 00:00:00'),
 Timestamp('2018-11-24 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2015-11-29 00:00:00'),
 Timestamp('2016-11-27 00:00:00'),
 Timestamp('2017-11-26 00:00:00'),
 Timestamp('2018-11-25 00:00:00'),
 Timestamp('2019-12-01 00:00:00')]

In [135]:
df[df.month == 11]

,Unnamed: 0,Unnamed: 0.1,total_visitors,total_new,total_returns,from_11201,Temperature,avg_visits_per_hour,avg_returns_per_hour,avg_new_per_hour,...,week_42,week_43,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51
28,28,2015-11-01,66,53.0,13.0,NaN,63.55,16.50,3.25,13.25,...,0,0,1,0,0,0,0,0,0,0
29,29,2015-11-05,49,29.0,20.0,NaN,67.31,24.50,10.00,14.50,...,0,0,0,1,0,0,0,0,0,0
30,30,2015-11-07,121,108.0,13.0,NaN,69.88,30.25,3.25,27.00,...,0,0,0,1,0,0,0,0,0,0
31,31,2015-11-08,94,72.0,22.0,NaN,57.37,23.50,5.50,18.00,...,0,0,0,1,0,0,0,0,0,0
32,32,2015-11-12,9,6.0,3.0,NaN,59.21,4.50,1.50,3.00,...,0,0,0,0,1,0,0,0,0,0
33,33,2015-11-14,75,62.0,13.0,NaN,48.83,18.75,3.25,15.50,...,0,0,0,0,1,0,0,0,0,0
34,34,2015-11-15,110,102.0,8.0,NaN,58.36,27.50,2.00,25.50,...,0,0,0,0,1,0,0,0,0,0
35,35,2015-11-19,30,18.0,12.0,NaN,62.85,15.00,6.00,9.00,...,0,0,0,0,0,1,0,0,0,0
36,36,2015-11-21,83,62.0,21.0,NaN,50.03,20.75,5.25,15.50,...,0,0,0,0,0,1,0,0,0,0
37,37,2015-11-22,56,43.0,13.0,NaN,53.93,14.00,3.25,10.75,...,0,0,0,0,0,1,0,0,0,0
38,38,2015-11-28,67,53.0,14.0,NaN,59.95,16.75,3.50,13.25,...,0,0,0,0,0,0,1,0,0,0
39,39,2015-11-29,93,75.0,18.0,NaN,49.05,23.25,4.50,18.75,...,0,0,0,0,0,0,1,0,0,0
217,217,2016-11-01,38,5.0,33.0,36.0,58.39,19.00,16.50,2.50,...,0,0,1,0,0,0,0,0,0,0
218,218,2016-11-03,18,5.0,13.0,13.0,71.09,9.00,6.50,2.50,...,0,0,1,0,0,0,0,0,0,0
219,219,2016-11-05,79,61.0,18.0,20.0,61.98,19.75,4.50,15.25,...,0,0,1,0,0,0,0,0,0,0
220,220,2016-11-06,87,35.0,52.0,55.0,57.18,21.75,13.00,8.75,...,0,0,1,0,0,0,0,0,0,0
221,221,2016-11-08,64,22.0,42.0,48.0,67.15,32.00,21.00,11.00,...,0,0,0,1,0,0,0,0,0,0
222,222,2016-11-10,29,6.0,23.0,25.0,56.13,14.50,11.50,3.00,...,0,0,0,1,0,0,0,0,0,0
223,223,2016-11-12,80,54.0,26.0,31.0,50.80,20.00,6.50,13.50,...,0,0,0,1,0,0,0,0,0,0
224,224,2016-11-13,114,76.0,38.0,42.0,60.13,28.50,9.50,19.00,...,0,0,0,1,0,0,0,0,0,0
225,225,2016-11-15,34,10.0,24.0,32.0,54.93,17.00,12.00,5.00,...,0,0,0,0,1,0,0,0,0,0
226,226,2016-11-17,27,7.0,20.0,19.0,61.59,13.50,10.00,3.50,...,0,0,0,0,1,0,0,0,0,0
227,227,2016-11-19,128,74.0,54.0,56.0,59.10,32.00,13.50,18.50,...,0,0,0,0,1,0,0,0,0,0
228,228,2016-11-20,11,6.0,5.0,5.0,41.87,2.75,1.25,1.50,...,0,0,0,0,1,0,0,0,0,0
229,229,2016-11-22,24,8.0,16.0,17.0,41.15,12.00,8.00,4.00,...,0,0,0,0,0,1,0,0,0,0
230,230,2016-11-29,9,0.0,9.0,9.0,59.18,4.50,4.50,0.00,...,0,0,0,0,0,0,1,0,0,0
408,408,2017-11-02,20,9.0,11.0,9.0,70.45,10.00,5.50,4.50,...,0,0,1,0,0,0,0,0,0,0
409,409,2017-11-04,54,28.0,26.0,27.0,56.21,13.50,6.50,7.00,...,0,0,1,0,0,0,0,0,0,0
410,410,2017-11-05,50,26.0,24.0,19.0,61.18,12.50,6.00,6.50,...,0,0,1,0,0,0,0,0,0,0
411,411,2017-11-07,20,1.0,19.0,19.0,48.44,10.00,9.50,0.50,...,0,0,0,1,0,0,0,0,0,0
412,412,2017-11-09,32,17.0,15.0,18.0,53.59,16.00,7.50,8.50,...,0,0,0,1,0,0,0,0,0,0
413,413,2017-11-11,48,33.0,15.0,19.0,37.68,12.00,3.75,8.25,...,0,0,0,1,0,0,0,0,0,0
414,414,2017-11-12,87,24.0,63.0,62.0,46.05,21.75,15.75,6.00,...,0,0,0,1,0,0,0,0,0,0
415,415,2017-11-14,38,5.0,33.0,32.0,46.13,19.00,16.50,2.50,...,0,0,0,0,1,0,0,0,0,0
416,416,2017-11-16,25,8.0,17.0,17.0,56.32,12.50,8.50,4.00,...,0,0,0,0,1,0,0,0,0,0
417,417,2017-11-18,57,20.0,37.0,30.0,52.45,14.25,9.25,5.00,...,0,0,0,0,1,0,0,0,0,0
418,418,2017-11-19,91,49.0,42.0,48.0,58.14,22.75,10.50,12.25,...,0,0,0,0,1,0,0,0,0,0
419,419,2017-11-21,29,2.0,27.0,29.0,57.38,14.50,13.50,1.00,...,0,0,0,0,0,1,0,0,0,0
420,420,2017-11-28,26,8.0,18.0,24.0,51.92,13.00,9.00,4.00,...,0,0,0,0,0,0,1,0,0,0
421,421,2017-11-30,26,0.0,26.0,26.0,50.76,13.00,13.00,0.00,...,0,0,0,0,0,0,1,0,0,0
603,603,2018-11-01,23,10.0,13.0,16.0,69.52,11.50,6.50,5.00,...,0,0,1,0,0,0,0,0,0,0
604,604,2018-11-03,71,40.0,31.0,30.0,64.98,17.75,7.75,10.00,...,0,0,1,0,0,0,0,0,0,0
605,605,2018-11-04,87,33.0,54.0,51.0,55.48,21.75,13.50,8.25,...,0,0,1,0,0,0,0,0,0,0
606,606,2018-11-06,6,0.0,6.0,6.0,58.57,3.00,3.00,0.00,...,0,0,0,1,0,0,0,0,0,0
607,607,2018-11-08,21,5.0,16.0,14.0,56.34,10.50,8.00,2.50,...,0,0,0,1,0,0,0,0,0,0
608,608,2018-11-10,68,52.0,16.0,23.0,44.00,17.00,4.00,13.00,...,0,0,0,1,0,0,0,0,0,0
609,609,2018-11-11,61,23.0,38.0,23.0,45.96,15.25,9.50,5.75,...,0,0,0,1,0,0,0,0,0,0
610,610,2018-11-13,16,2.0,14.0,16.0,49.28,8.00,7.00,1.00,...,0,0,0,0,1,0,0,0,0,0
611,611,2018-11-15,5,0.0,5.0,5.0,38.09,2.50,2.50,0.00,...,0,0,0,0,1,0,0,0,0,0
612,612,2018-11-17,61,35.0,26.0,24.0,46.85,15.25,6.50,8.75,...,0,0,0,0,1,0,0,0,0,0
613,613,2018-11-18,54,22.0,32.0,34.0,42.92,13.50,8.00,5.50,...,0,0,0,0,1,0,0,0,0,0
614,614,2018-11-20,29,14.0,15.0,21.0,46.38,14.50,7.50,7.00,...,0,0,0,0,0,1,0,0,0,0
615,615,2018-11-27,21,1.0,20.0,19.0,45.29,10.50,10.00,0.50,...,0,0,0,0,0,0,1,0,0,0
616,616,2018-11-29,28,4.0,24.0,28.0,44.96,14.00,12.00,2.00,...,0,0,0,0,0,0,1,0,0,0

In [136]:
df['Date'] =  pd.to_datetime(df['Unnamed: 0.1'])

In [137]:
thanksgiving = df[df['Date'].isin(thanks_lis)][['Date','total_visitors']]

In [138]:
thanksgiving

         Date  total_visitors
38 2015-11-28              67
39 2015-11-29              93

In [149]:
df[(df.month == 11) &(df.year == 2015)& (df.day > 4)]['total_visitors'].mean()

85.0

In [139]:
thanksgiving = thanksgiving.append({'Date': "Weekend After Thanksgiving Average", "total_visitors":thanksgiving['total_visitors'].mean()}, ignore_index=True)

In [140]:
thanksgiving

                                 Date  total_visitors
0                 2015-11-28 00:00:00            67.0
1                 2015-11-29 00:00:00            93.0
2  Weekend After Thanksgiving Average            80.0

In [24]:
christmas = hdDf[hdDf['Holiday'] == "Christmas Day"]

In [25]:
christmas['eve'] = christmas['Date'] -  pd.Timedelta('1 days')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
christmas

    Unnamed: 0       Date        Holiday  week  month  year  day        eve
49          49 2015-12-25  Christmas Day    52     12  2015    4 2015-12-24
59          59 2016-12-26  Christmas Day    52     12  2016    0 2016-12-25
69          69 2017-12-25  Christmas Day    52     12  2017    0 2017-12-24
79          79 2018-12-25  Christmas Day    52     12  2018    1 2018-12-24
89          89 2019-12-25  Christmas Day    52     12  2019    2 2019-12-24

In [27]:
christmas['eve'].values

array(['2015-12-24T00:00:00.000000000', '2016-12-25T00:00:00.000000000',
       '2017-12-24T00:00:00.000000000', '2018-12-24T00:00:00.000000000',
       '2019-12-24T00:00:00.000000000'], dtype='datetime64[ns]')

In [28]:
chris_list = []

for i in range(1,8):
    cat = christmas['eve'].values - pd.Timedelta(str(i)+ ' days')
    for val in cat:
        chris_list.append(val)

In [29]:
christmas = df[df['Date'].isin(chris_list)][['Date','total_visitors']]

In [30]:
christmas['Day'] =  christmas['Date'].dt.weekday

In [31]:

christmas = christmas.append({'Date': "Average For Week Before Christmas Eve", "total_visitors":christmas['total_visitors'].mean(), 'Day': 'null'}, ignore_index=True)

In [33]:
christmas = christmas.append({'Date': "Average For Weekend Before Christmas Eve", "total_visitors":christmas[christmas['Day'] > 4]['total_visitors'].mean(), 'Day': 'null'}, ignore_index=True)

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
christmas.replace([3, 5, 6, 1], ['Thursday', 'Saturday', 'Sunday', 'Tuesday'])

                                     Date  total_visitors       Day
0                     2015-12-17 00:00:00       14.000000  Thursday
1                     2015-12-19 00:00:00       29.000000  Saturday
2                     2015-12-20 00:00:00       79.000000    Sunday
3                     2016-12-18 00:00:00       51.000000    Sunday
4                     2016-12-20 00:00:00       13.000000   Tuesday
5                     2016-12-22 00:00:00       39.000000  Thursday
6                     2017-12-17 00:00:00       29.000000    Sunday
7                     2017-12-19 00:00:00       21.000000   Tuesday
8                     2017-12-21 00:00:00       10.000000  Thursday
9                     2018-12-18 00:00:00       12.000000   Tuesday
10                    2018-12-20 00:00:00       17.000000  Thursday
11  Average For Week Before Christmas Eve       28.545455      null

In [35]:
newYear = hdDf[hdDf['Holiday'] == "New Year's Day"]

In [36]:
ny_ls = []
for val in newYear['Date']:
    for i in range(1, 8):
        ny_ls.append(val + pd.Timedelta(str(i) + " days"))

In [37]:
new_years = df[df['Date'].isin(ny_ls)][['Date', 'total_visitors', 'day']]

In [38]:
new_years = new_years.append({"Date": "Week After New Years Average:", "total_visitors": new_years['total_visitors'].mean(), 'day':'null'}, ignore_index = True)

In [39]:
new_years= new_years.append({"Date": "Weekend After New Years Average:", "total_visitors": new_years[new_years['day'] > 4]['total_visitors'].mean(), 'day':'null'}, ignore_index = True)

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
new_years =new_years.replace({1: "Tuesday", 3:"Thursday", 5:"Saturday", 6:"Sunday"})

In [41]:
new_years

                             Date  total_visitors       day
0             2016-01-07 00:00:00       20.000000  Thursday
1             2017-01-03 00:00:00       11.000000   Tuesday
2             2017-01-05 00:00:00       15.000000  Thursday
3             2017-01-07 00:00:00       15.000000  Saturday
4             2017-01-08 00:00:00       11.000000    Sunday
5             2018-01-02 00:00:00       20.000000   Tuesday
6             2018-01-06 00:00:00       14.000000  Saturday
7             2018-01-07 00:00:00       13.000000    Sunday
8             2019-01-03 00:00:00       31.000000  Thursday
9             2019-01-05 00:00:00       22.000000  Saturday
10            2019-01-06 00:00:00       92.000000    Sunday
11            2019-01-08 00:00:00       40.000000   Tuesday
12  Week After New Years Average:       25.333333      null

In [42]:
df[['month', 'total_visitors']].groupby("month").mean()

       total_visitors
month
1           40.725806
2           49.500000
3           53.657143
4           63.852941
5           46.661972
6           64.042553
7           61.333333
8           64.677966
9           58.900000
10          52.063492
11          50.907407
12          32.956522

In [43]:
df[df['day']>4][['month', 'total_visitors']].groupby("month").mean()

       total_visitors
month
1           57.100000
2           68.218750
3           77.200000
4           89.685714
5           70.787879
6           90.920000
7           85.222222
8           88.428571
9           79.812500
10          71.705882
11          76.037037
12          44.291667